# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Data
data/raw/
data/output/

# Build
dist/
build/

# Testing
.pytest_cache/
.coverage
